html {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
*, *:after, *:before {
  box-sizing: inherit;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: 0;
  overflow: visible;
  text-transform: none;
}
/*****CONTAINER*****/
.container {
  /* max-width: 1200px; */
  margin: auto;
  background-color: #FAF6F3;
}
.row {
  display: flex;
}
/*****HEADER*****/
.header-nav {
  padding-top: 10px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
.header-nav .menu__mobile {
  display: none;
}
.header-nav .logo {
  flex: 1;
}
.header-nav .menu {
  flex: 2.5;
  justify-content: center;
  font-family: "Playfair Display";
}
.header-nav .menu-item {
  margin: 2px 10px;
  padding: 2px;
}
.header-nav .menu-item .menu-item-link {
  color: black;
}
.header-nav .menu-item .menu-item-link:hover {
  color: #FFAB91;
}
.header-nav .menu-shop {
  position: relative;
  flex: 1;
  padding: 0;
}
.header-nav .menu-shop-item {
  margin-left: 25px;
  cursor: pointer;
}
.header-nav .menu-shop-item:hover {
  color: #FFAB91;
}
.header-nav .menu-shop-item > i {
  position: relative;
  font-size: 1.6em;
}
.header-nav .menu-shop-item:nth-child(2):before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 27px;
  left: 3.7em;
  top: 0em;
  background-color: #DBD9D8;
  pointer-events: none;
}
.header-nav .menu-shop-item__amount {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  line-height: 1.25;
  font-size: 0.6em;
  border-radius: 100%;
  background-color: #FDC401;
  color: white;
}
/*****MAIN*****/
.landing-page .row-one {
  margin-top: 50px;
}
/*****SOCIAL LINKS*****/
.social-links {
  flex: 0.2;
}
.social-links-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: 0;
}
.social-links-list .social-link-item i {
  font-size: 1.8em;
  transition: all 0.05s;
}
.social-links-list .social-link-item i:hover {
  transform: scale(1.2);
}
.fa-facebook {
  color: #3B5998;
}
.fa-twitter {
  color: #55ACEE;
}
.fa-instagram {
  color: #125688;
}
.fa-snapchat {
  color: #fffc00;
}
/*****HEADLINE CONTAINER*****/
.headline-container {
  flex: 0.6;
}
.headline {
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 3.8em;
}
/*****CAROUSEL CONTAINER*****/
.carousel-container {
  flex: 1;
  font-family: "PT Serif";
}
.carousel-container .carousel-counter {
  position: relative;
  align-self: center;
  color: #D5D0D0;
  font-size: 1.6em;
  transform: rotate(-90deg);
}
.carousel-container .carousel-counter-current {
  position: relative;
  top: 5px;
  right: 5px;
  font-size: 2.5rem;
  color: #FDC401;
}
.carousel-container .carousel-counter-current__slash {
  position: relative;
  top: 5px;
  right: 5px;
  font-size: 2.5rem;
}
.carousel-container .carousel {
  display: flex;
  position: relative;
  align-items: flex-end;
  overflow: hidden;
}
.carousel-slide-border {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 3px solid #D5D0D0;
  transition: all 0.45s;
  transform: translate(25px, 25px);
}
.carousel-slide-border.animate-border {
  transform: none;
}
.carousel-container .carousel-slide {
  flex: 1 0 40%;
  margin: 25px;
}
.carousel-container .carousel-slide.show {
  flex: 1 0 60%;
  position: relative;
  margin-left: 10px;
  z-index: 0;
  transition: transform 0.45s;
}
.carousel-container .carousel-slide.show.animate-slide {
  transform: translate(25px, 25px);
}
.carousel-container .carousel-slide img {
  width: 100%;
}
.carousel-controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
}
.carousel-controls .carousel-button {
  margin-right: 15px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 2px solid #D5D0D0;
  color: #D5D0D0;
  font-size: 1em;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.1s;
}
.carousel-controls .carousel-button:hover {
  background-color: #F7440C;
  border-color: #F7440C;
  color: white;
}
.carousel-controls .carousel-button-next {
  margin-right: 50px;
}
/*****ITEM COLLECTIONS*****/
.landing-page .row-two {
  margin-top: 50px;
}
.item-collections-container {
  display: flex;
}
.item-collections-container > div {
  flex: 1;
}
.item-collections-container .item-collection-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.item-collection-headline img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.item-collection-headline:nth-child(5) img {
  object-position: right;
}
.item-collection-headline .bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.item-collection-headline h2 {
  position: absolute;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.1em;
  color: white;
}
.item-collections-container .item-collection-info__first {
  background-color: #F8440C;
}
.item-collections-container .item-collection-info__second {
  background-color: #FFC400;
}
.item-collections-container .item-collection-info {
  font-family: "Roboto";
  color: white;
}
.item-collections-container .item-collection-info h2 {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0 30px;
  font-weight: 500;
  font-size: 0.9em;
}
.item-collections-container .item-collection-info p {
  margin-bottom: 40px;
  padding: 0 30px;
  line-height: 1.5;
  font-size: 0.8em;
}
/*****MEDIA QUEIRES*****/
@media(max-width: 960px) {
  .headline {
    margin-top: 0;
  }
  .item-collections-container {
    flex-wrap: wrap;
  }
  .item-collections-container > div {
    width: 100%;
    text-align: center;
    min-height: 150px;
    flex-basis: 100%;
  }
  .item-collections-container .item-collection-headline {
    max-height: 250px;
  }
}
@media(max-width: 800px) {
  .header {
    height: 100px;
  }
  .header-nav {
    position: fixed;
    width: 100%;
    background-color: #FAF6F3;
    z-index: 100;
    border-bottom: 2px solid black;
  }
  .header-nav .logo {
    flex: 2.5;
  }
  .header-nav .menu__mobile {
    display: block;
    flex: 1;
    font-size: 1.6em;
    cursor: pointer;
  }
  .header-nav .menu__mobile:hover {
    color: #FFAB91;
  }
  .header-nav .menu__mobile__close {
    flex: 0;
    align-self: flex-start;
    margin: 25px 25px 30px 25px;
    font-size: 2em;
  }
  .header-nav .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    top: 0;
    left: 0;
    padding: 0;
    margin-top: 0;
    height: 100vh;
    background-color: #FAF6F3;
    transform: translateX(-100%);
    transition: all 0.35s;
    border: 2px solid #212121;
  }
  .header-nav .menu__open {
    transform: none;
  }
  .header-nav .menu-item {
    width: 100%;
    margin: 0;
    margin-left: 100px;
    border-top: 2px solid black;
  }
  .header-nav .menu-item:nth-child(1) {
    margin-top: 100px;
  }
  .header-nav .menu-item:last-child {
    border-bottom: 2px solid black;
  }
  .header-nav .menu-item-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 30px 10px;
  }
  .landing-page .row-one {
    flex-wrap: wrap;
    margin-top: 15px;
  }
  .landing-page .row-one > section {
    flex-basis: 100%;
    width: 100%;
  }
  .social-links-list {
    flex-direction: row;
  }
  .headline-container {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
}